body {
    font-family: Helvetica Neue;
}

.page-content {
    width: 60%;
    margin: 0px auto;
    text-align: center;
}

#logo {
    width: 60%;
    padding: 6%;
    margin: 0px auto;
}

.container {
    height: auto;
    border: 1px solid;
    border-color: #F2F3F5;
    margin: 5% auto 0 auto;
    padding: 5%;
}

.form-input-label {
    font-weight: 700;
    color: #1C1E23; 
    display: block;
    text-align: left;
}

.form-input {
    width: 100%;
    height: 48px;
    border: 1px solid #165c96;
    border-radius: 4px;
    padding: 12px;
}

.form-input:focus, .form-input:hover {
    border: 2px solid #165c96;
}

.form-group {
    padding: 1rem;
}

a {
    font-size: 14px;
    font-family: Helvetica Neue; 
    color: #165C96; 
    font-weight: 500;
    text-decoration: none; 
}

a:hover, a:focus {
    color: #0B2F4C; 
    text-decoration: underline;
}

a:visited {
    text-decoration: none; 
}

.forgot-password {
    float: right;
}

#sign-in {
    display: block;
    border-radius: 3px;
    font-size: 16px; 
    background-color: #165C96;
    color: #FFFFFF; 
    line-height: 27px; 
    font-family: Helvetica Neue; 
    border: none;
    width: 95%;
    height: 48px;
    margin: 3rem auto 2rem auto;
}

#sign-in:hover, #sign-in:focus {
    background-color: #0B2F4C; 
}

.body-text {
    font-family: Inter UI;
}

/* XS devices */
@media (max-width: 544px) {
    h1 {
        font-size: 1.75rem;
        line-height: 2.2313rem;
    }
    
    .form-input-label {
        font-size: 1.125rem;
        line-height: 1.6875rem; 
    }

    .body-text {
        font-size: 0.875rem;
        line-height: 1.3125rem;
    }
}

/* SM devices */
@media (min-width: 544px) {
    h1 {
        font-size: 1.75rem;
        line-height: 2.2313rem;
    }
           
    .form-input-label {
        font-size: 1.125rem;
        line-height: 1.6875rem; 
    }

    .body-text {
        font-size: 0.875rem;
        line-height: 1.3125rem;
    }
}

/* MD-LG devices */
@media (min-width: 800px) {
    h1 {
        font-size: 2.5rem;
        line-height: 3.1875rem;
    }
    
    .form-input-label {
        font-size: 1.125rem;
        line-height: 1.6875rem;
    }

    .body-text {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

/* XL devices */
@media (min-width: 1344px) {
    h1 {
        font-size: 2.8125rem;
        line-height: 3.5856rem;
    }
        
    .form-input-label {
        font-size: 1.125rem;
        line-height: 1.6875rem; 
    }
    
    .body-text {
        font-size: 1.125rem;
        line-height: 1.6875rem;
    }
}
