@import url('https://rsms.me/inter/inter.css'); 

html { 
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    text-align: center;
}

h1 {
    font-family: 'Helvetica Neue', sans-serif;
}

input {
    font: inherit;
}

/* Default for SM/MD screen breakpoints */
body { 
    font-size: 1rem;
    line-height: 1.275;
}

h1 {
    font-size: 2.5rem;
    margin-top: 1.075em;
	margin-bottom: 0.375em;
}

.page-content {
    width: 60%;
}

/* smaller type for XS breakpoint */
@media (max-width: 544px) {
    body { 
        font-size: 0.875rem;
    }

    h1 { 
        font-size: 1.75rem;
    }

    .container {
        border: none !important;
    }    

    .page-content {
        width: 100%;
    }
}

/* reduce content width for LG/XL breakpoint */
@media (min-width: 1088px) {
    .page-content {
        width: 40%;
    }
}

/* larger type for XL breakpoint */
@media (min-width: 1344px) {
    body { 
        font-size: 1.125rem;
    }

    h1 { 
        font-size: 2.8125rem;
    }
}

.page-content {
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}

#logo {
    width: 60%;
    padding: 6%;
    margin: 0px auto;
}

.container {
    height: auto;
    border: 1px solid #F2F3F5;
    margin: 5% auto 0 auto;
    padding: 5% 3%;
}

.form-input-label {
    font-weight: 700;
    color: #1C1E23; 
    display: block;
    text-align: left;
    margin-bottom: 0.375rem;
}

.form-input {
    width: 100%;
    border: 1px solid #165c96;
    border-radius: 4px;
    padding: 12px;
}

.label-error {
    color: #b3000f; 
}

.input-error {
    border: 2px solid #b3000f;
    margin: -1px;
}

.form-error-container {
    border: 2px solid #b3000f;
    border-radius: 4px;
    color: #b3000f;
    background: #F2DEDE;
    padding: 12px;
    text-align: left;
}

.form-input:focus, .form-input:hover {
    border: 2px solid #165c96;
    margin: -1px;
}

.input-error:focus, .input-error:hover {
    border: 2px solid #b3000f;
}

.form-group {
    padding: 1rem;
}

.submit-group {
    padding-bottom: 0rem;
}

a {
    color: #165C96; 
    font-weight: 500;
    text-decoration: none; 
}

a:hover, a:focus {
    color: #0B2F4C; 
    text-decoration: underline;
}

a:visited {
    text-decoration: none; 
}

.forgot-password {
    float: right;
}

.back-link {
    float: left;
}

#sign-in, #submit {
    display: block;
    border-radius: 3px;
    font-weight: 500; 
    background-color: #165C96;
    color: #FFFFFF;
    border: none;
    width: 100%;
    height: 48px;
    margin: 3rem auto 2rem auto;
}

#sign-in:hover, #sign-in:focus {
    background-color: #0B2F4C; 
}
